<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Rocky Li">
  <title>News Queue</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% block navbar %}
  {% endblock %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

  <footer class="py-5 bg-dark" id="bottom">
    <div class="container">
        <p class="m-0 text-center text-white"> News End
        </p>
    </div>
  </footer>
</body>
